.footer {
	padding: 0 1rem 1rem 1rem;
	background: var(--accent-bg);
	color: var(--text-light);
	font-size: 0.9rem;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	position: relative;
	@media (max-width: 600px) {
		flex-direction: column;
	}
	&-wave {
		width: 100%;
		height: auto;
		margin-top: auto;
		margin-bottom: -1px;
		filter: drop-shadow(0rem 0rem 1rem rgba(0, 0, 0, 0.1));
	}
	&-social {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;
		margin: 0;
		padding: 0;
		justify-content: center;
		a:hover {
			color: var(--accent-darker);
		}
		svg {
			vertical-align: middle;
		}
	}
	&-copyright {
		margin: 0 auto;
	}
}
