html {
	font-family: var(--sans-font);
}

body {
	color: var(--text);
	background: var(--bg);
	font-size: var(--size-1);
	line-height: 1.618;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 250ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	font-family: 'STIX Two Text', serif;
	font-weight: 600;
	a {
		text-decoration-thickness: 3px;
	}
}
h1,
.h1 {
	font-size: var(--size-6);
	line-height: 1.1;
}

h2,
.h2 {
	font-size: var(--size-5);
	line-height: 1.2;
}

h3,
.h3 {
	font-size: var(--size-4);
	line-height: 1.3;
}

h4,
.h4 {
	font-size: var(--size-3);
	line-height: 1.4;
}

h5,
.h5,
h6,
.h6 {
	font-size: var(--size-2);
}

/* Format links & misc elements */
a,
a:visited {
	color: var(--accent);
	text-decoration-thickness: 2px;
}

a:hover {
	text-decoration-style: dotted;
}

abbr {
	cursor: help;
}

ol,
ul {
	padding-left: 3rem;
}

hr {
	border: none;
	border-bottom: 1px solid var(--border);
	margin: 1rem auto;
}

mark {
	padding: 2px 5px;
	border-radius: 4px;
	background: var(--marked);
}

main img,
main video {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 0.9rem;
	color: var(--text-light);
	text-align: center;
	margin-bottom: 1rem;
}

blockquote {
	margin: 2rem 0 2rem 2rem;
	padding: 0.4rem 0.8rem;
	border-left: 0.35rem solid var(--accent);
	opacity: 0.8;
	font-style: italic;
}

cite {
	font-size: 0.9rem;
	color: var(--text-light);
	font-style: normal;
}

code {
	background: rgb(0 0 0 / 15%);
	border: 1px solid var(--border);
	border-radius: 3px;
	padding: 0.125rem 0.25rem;
	line-height: 1;
}

pre code {
	border: none;
	padding: 0;
}
