@mixin lightColorTheme() {
	--bg: #fff7ec;
	--accent-bg: #fff8ee;
	--transparent-bg: rgba(255, 247, 235, 0.65);
	--text: #212121;
	--text-light: #585858;
	--border: #dbd3c6;
	--accent: #00645f;
	--accent-darker: #00413e;
	--marked: #ffdd33;
	@media (color-gamut: p3) {
		--accent: color(display-p3 0 0.394 0.367);
		--accent-darker: color(display-p3 0 0.245 0.232);
		--marked: color(display-p3 1 0.831 0);
	}
}

@mixin darkColorTheme() {
	--bg: #0f2a4f;
	--accent-bg: #103362;
	--transparent-bg: rgba(17, 50, 94, 0.85);
	--text: #c0dcff;
	--text-light: #dff9ff;
	--border: #1d3e6b;
	--accent: #00edb1;
	--accent-darker: #21b384;
	@media (color-gamut: p3) {
		--accent: color(display-p3 0 0.998 0.579);
		--accent-darker: color(display-p3 0 0.84 0.457);
	}
}

:root {
	/* Set sans-serif & mono fonts */
	--sans-font: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Nimbus Sans L', Roboto, Noto,
		'Segoe UI', Arial, Helvetica, 'Helvetica Neue', sans-serif;
	--mono-font: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	--heading-font: 'STIX Two Text', serif;

	/* Fluid typography font sizes */
	--size-0: clamp(0.94rem, 0.82rem + 0.61vw, 1.25rem); // small
	--size-1: clamp(1.13rem, 0.98rem + 0.73vw, 1.5rem); // body
	--size-2: clamp(1.35rem, 1.17rem + 0.88vw, 1.8rem); // h5/h6
	--size-3: clamp(1.62rem, 1.41rem + 1.05vw, 2.16rem); // h4
	--size-4: clamp(1.94rem, 1.69rem + 1.26vw, 2.59rem); // h3
	--size-5: clamp(2.33rem, 2.03rem + 1.52vw, 3.11rem); // h2
	--size-6: clamp(2.8rem, 2.44rem + 1.82vw, 3.73rem); // h1

	/* styles inputs */
	accent-color: var(--accent);

	/* site supports light and dark schemes */
	color-scheme: dark light;
	@include lightColorTheme();
	@media (prefers-color-scheme: dark) {
		@include darkColorTheme();
	}
}

// user override OS preference
html {
	&[data-color-scheme='light'] {
		@include lightColorTheme();
	}
	&[data-color-scheme='dark'] {
		@include darkColorTheme();
	}
}

::selection {
	background: var(--accent-darker);
	color: white;
}
