---
import Layout from "../layouts/BaseLayout.astro";

const title = "404 Not Found";
const description = "Sorry, this page doesn't exist.";
---

<Layout {title} {description}>
  <article class="content wrapper">
    <h1 class="latest">Error 404</h1>
    <p>Sorry, this page doesn't exist.</p>
  </article>
</Layout>
