---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="404 Not Found" description="Sorry, this page doesn" t exist.'>
	<article class="content">
		<h1 class="latest">Error 404</h1>
		<p>Sorry, this page doesn't exist.</p>
	</article>
</Layout>
