---
import Layout from '../Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const title = '404 Not Found';
const description = "Sorry, this page doesn't exist.";
---

<Layout title={title} description={description}>
	<Header />
	<main>
		<article class='content wrapper'>
			<h1 class='latest'>Error 404</h1>
			<p>Sorry, this page doesn't exist.</p>
		</article>
	</main>
	<Footer />
</Layout>
