---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Component Script:
let title =  'About Me';
let description = "About Stefen Phelps and his skills, interests, etc.";
let permalink = 'https://stefenphelps.com/about';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
      <style>
        .grid {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
        }
        .grid-item {
          flex: 1 1 200px;
        }
        label {
          display: block;
        }
        ol {
          list-style: none;
          margin: 0 0 0 4ch;
          padding: 0 0 0 4ch;
        }
        ol li {
          text-indent: -4ch;
          line-height: 1.2;
          margin-bottom: 1rem;
        }
        ol time {
          font-size: 2rem;
          font-family: var(--mono-font);
          display: inline-block;
          margin-right: .5rem;
          font-weight: 200;
        }
        progress {
          width: 100%;
        }
        form {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: .5rem;
          background: var(--accent);
          padding: .5rem 1rem;
          border-radius: .5rem;
          color: var(--bg);
        }
        form h2 {
          font-size: 1.25rem;
          margin: 0;
        }
        form div {
          display: flex;
          align-items: center;
          gap: .25rem;
        }
        form input {
          margin: 0;
        }
        .professional-content,
        .personal-content {
          display: none;
          flex: 1 1 100%;
        }
        .professional-content.active,
        .personal-content.active {
          display: block;
        }
        article {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          gap: 1.5rem;
          margin-top: 3rem;
        }
        h1 {
          margin: 0;
        }
      </style>
  </head>
  <body>
    <Header />
    <main>
      <article>
        <h1>{title}</h1>
        <form>
          <h2>Type of info:</h2>
          <div>
            <input type="radio" name="type-of-about" id="professional" value="professional" checked>
            <label for="professional">Professional</label>
          </div>
          <div>
            <input type="radio" name="type-of-about" id="personal" value="personal">
            <label for="personal">Personal</label>
          </div>
        </form>
        <div class="professional-content active">
          <p>Here is a summary of my web development skill&thinsp;/&thinsp;experience and my professional work history.</p>
          <h2 style="margin-bottom: 0;">Skillset</h2>
          <div class="grid">
            <div class="grid-item">
              <h3>Base</h3>
              <label for="html">HTML</label>
              <progress id="html" value="99" max="100"></progress>
              <label for="css">CSS / Sass</label>
              <progress id="css" value="95" max="100"></progress>
              <label for="js">JS</label>
              <progress id="js" value="90" max="100"></progress>
              <label for="php">PHP / Twig</label>
              <progress id="php" value="84" max="100"></progress>
              <label for="hubl">HubL</label>
              <progress id="hubl" value="95" max="100"></progress>
            </div>
            <div class="grid-item">
              <h3>Tools</h3>
              <label for="wordpress">WordPress</label>
              <progress id="wordpress" value="97" max="100"></progress>
              <label for="hubspot">HubSpot</label>
              <progress id="hubspot" value="99" max="100"></progress>
              <label for="firebase">Firebase</label>
              <progress id="firebase" value="73" max="100"></progress>
              <label for="netlify">Netlify</label>
              <progress id="netlify" value="77" max="100"></progress>
              <label for="adobe">NPM / Composer</label>
              <progress id="adobe" value="85" max="100"></progress>
            </div>
            <div class="grid-item">
              <h3>Libraries</h3>
              <label for="react">React / Preact / Next.js</label>
              <progress id="react" value="65" max="100"></progress>
              <label for="vue">Vue / Nuxt.js</label>
              <progress id="vue" value="72" max="100"></progress>
              <label for="angular">Angular</label>
              <progress id="angular" value="55" max="100"></progress>
              <label for="jquery">jQuery</label>
              <progress id="jquery" value="88" max="100"></progress>
              <label for="timber">Timber</label>
              <progress id="timber" value="98" max="100"></progress>
            </div>
          </div>
          <h2>Career History</h2>
          <ol>
            <li><time>2009</time> First (paid) website gig</li>
            <li><time>2011</time> Started Stefen Phelps Web Design and doing freelance work on a frequent basis</li>
            <li><time>2012</time> First full-time position as a Junior Web Designer in Tampa, FL</li>
            <li><time>2013</time> Promoted to Web Designer Team Lead</li>
            <li><time>2014</time> Started working for Inbound Marketing Agency Bluleadz in Tampa, FL</li>
            <li><time>2015</time> Help grow Bluleadz from 7 employees to 17+ employees</li>
            <li><time>2016</time> Started working for Marketing Agency SMS in Brooksville, FL</li>
            <li><time>2017</time> Created and launched Spinstak's custom eCommerce platform first responsive designs</li>
            <li><time>2018</time> Started creative agency Kelp and working for myself full time</li>
            <li><time>2019</time> Helped grow Kelp to 5 people</li>
            <li><time>2020</time> Started StonkLights</li>
            <li><time>2021</time> Another year of 20% growth at Kelp!</li>
          </ol>
        </div>
        <div class="personal-content">
          <p>Here's some random things I enjoy and some major events in my life.</p>
          <h2 style="margin-bottom: 0;">Skillset</h2>
          <div class="grid">
            <div class="grid-item">
              <h3>Activites</h3>
              <label for="golf">🥏 Disc Golf</label>
              <progress id="golf" value="90" max="100"></progress>
              <label for="racquetball">🏸 Racquetball</label>
              <progress id="racquetball" value="85" max="100"></progress>
              <label for="movies">🏂 Snowboarding</label>
              <progress id="movies" value="91" max="100"></progress>
              <label for="fish">🐟 Fishing</label>
              <progress id="fish" value="65" max="100"></progress>
            </div>
            <div class="grid-item">
              <h3>Foods I like</h3>
              <label for="tacos">🌮 Tacos</label>
              <progress id="tacos" value="97" max="100"></progress>
              <label for="sushi">🍣 Sushi</label>
              <progress id="sushi" value="74" max="100"></progress>
              <label for="steak">🥒 Cucumbers</label>
              <progress id="steak" value="16" max="100"></progress>              
              <label for="gyros">🥙 Gyros</label>
              <progress id="gyros" value="85" max="100"></progress>
            </div>
            <div class="grid-item">
              <h3>Places&thinsp;/&thinsp;Times</h3>
              <label for="beaches">🏖 Beaches</label>
              <progress id="beaches" value="45" max="100"></progress>
              <label for="mountains">🏔 Mountains</label>
              <progress id="mountains" value="92" max="100"></progress>
              <label for="fall">🍁 Fall</label>
              <progress id="fall" value="85" max="100"></progress>
              <label for="spring">🌼 Spring</label>
              <progress id="spring" value="70" max="100"></progress>
            </div>
          </div>
          <h2>Personal Milestones</h2>
          <ol>
            <li><time>2006</time> Graduated high school.</li>
            <li><time>2008</time> Associates degree.</li>
            <li><time>2010</time> Moved to Florida and got married.</li>
            <li><time>2011</time> Bought a house.</li>
            <li><time>2013</time> Made a baby.</li>
            <li><time>2015</time> Made another baby.</li>
            <li><time>2017</time> Made another baby.</li>
            <li><time>2018</time> Sold our house and start building process.</li>
            <li><time>2019</time> Made another baby and moved into new home.</li>
          </ol>
        </div>
        <p style="margin-top: 3rem;">If you'd like to learn more about what I'm into go check out some of <a href="/blog">my writing</a>.</p>
      </article>
      <script>
        let radioButtons = document.getElementsByName('type-of-about');
        let professionalContent = document.querySelector('.professional-content');
        let personalContent = document.querySelector('.personal-content');
        radioButtons.forEach(function(item) {
          item.addEventListener('click', function(event) {
            if (this.value == "professional") {
              professionalContent.classList.add('active');
              personalContent.classList.remove('active');
            } else {
              professionalContent.classList.remove('active');
              personalContent.classList.add('active');
            }
          });
        });
      </script>
    </main>
    <Footer />
  </body>
</html>
