---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Component Script:
let title =  "Hi there, I'm Stefen 😃";
let description = 'Hey there! Thanks for stopping by, how can I help ya today?';
let permalink = 'https://stefenphelps.com/';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <style>
      body {
        max-width: 80rem;
      }
      .home {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        margin-top: 4rem;
      }
      .home-image {
        flex: 1 1 230px;
        position: relative;
      }
      .home-image svg {
        position: absolute;
        top: 55%;
        z-index: 1;
        opacity: .5;
      }
      @media (prefers-color-scheme: dark) {
        .home-image {
          filter: sepia(100) brightness(.5);
        }
      }
      .home-text {
        flex: 1 1 400px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <article class="home">
        <div class="home-text">
          <h1>👋 Hello, my name is Stefen.</h1>
          <p>I'm a web developer, dad, husband, and overall well-rounded nerd based in Brooksville, Florida 🌴. I work for myself with some of the best people in the world at <a href="https://www.kelp.agency">Kelp Creative Agency</a>.</p>
        </div>
        <div class="home-image">
          <!--<svg class="canvas" viewBox="0 0 200 200" width="200" height="200"></svg>-->
          <picture>
            <source loading="lazy" type="image/webp" srcset="mustache-face.webp" width="600" height="751" >
            <img loading="lazy" width="600" height="751" src="mustache-face.png" alt="Stefen's Mustache Face">
          </picture>
          <!--<button>Generate new 'stache</button>-->
        </div>
      </article>
      <!--<script type="module">
        import { SVG } from "https://cdn.skypack.dev/@svgdotjs/svg.js";
        import {
          spline,
          random
        } from "https://cdn.skypack.dev/@georgedoescode/generative-utils@1.0.0";
        
        const svg = SVG(".canvas");
        const { width } = svg.viewbox();
        const numSteps = 10;
        const stepSize = width / numSteps;
        const btn = document.querySelector("button");
        const hairs = 10;
        
        function generate() {
          svg.clear();
          
          for (let grow = 0; grow <= hairs; grow += 1) {
            const points = [];
            for (let x = 0; x <= width; x += stepSize) {
              const y = random(80, 120);
              points.push({
                x,
                y
              });
            }
            const pathData = spline(points, 1, false);
            svg.path(pathData).stroke("#111").fill("none");
          }
        }
        
        generate();
        
        btn.addEventListener("click", () => {
          generate();
        });
      </script>-->
    </main>
    <Footer />
  </body>
</html>
