---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Component Script:
let title =  "Hi there, I'm Stefen 😃";
let description = 'Hey there! Thanks for stopping by, how can I help ya today?';
let permalink = 'https://stefenphelps.com/';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <style>
      body {
        max-width: 90rem;
      }
      .home {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        margin-top: 4rem;
      }
      .home-image {
        flex: 1 1 230px;
        position: relative;
        text-align: center;
      }
      .home-image-stache {
        position: absolute;
        top: 52%;
        left: 48%;
        transform: translate(-50%, 0);
        width: 50%;
        display: none;
        pointer-events: none;
      }
      @media (prefers-color-scheme: dark) {
        .home-image {
          filter: sepia(100) brightness(.5);
        }
      }
      @media (prefers-color-scheme: light) {
        .home-image-picture {
          opacity: .75;
        }
      }
      .home-text {
        flex: 1 1 400px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <article class="home">
        <div class="home-text">
          <h1 class="h2">I'm Stefen, lead developer at <a href="https://www.kelp.agency">Kelp</a>, Florida man, and ardent techno geek.</h1>
          <p>I'm a web developer, dad, husband, and overall well-rounded nerd based in Brooksville, Florida 🌴. I work for myself with some of the best people in the world at <a href="https://www.kelp.agency">Kelp Creative Agency</a>.</p>
        </div>
        <div class="home-image">
          <img class="home-image-stache" src="/mustaches/1.svg" alt="" width="700" height="700" />
          <picture class="home-image-picture">
            <source type="image/svg+xml" srcset="mustache-face.svg" width="600" height="751" >
            <source type="image/webp" srcset="mustache-face.webp" width="600" height="751" >
            <img width="600" height="751" src="mustache-face.png" alt="Stefen's Mustache Face">
          </picture>
          <button>Generate Mustache</button>
        </div>
      </article>
    </main>
    <Footer />
    <script>
      const button = document.querySelector('button');
      const mustacheImg = document.querySelector('.home-image-stache');
      const mustaches = Array.from(Array(60).keys());
      button.addEventListener('click', function(event) {
        mustacheImg.style.display = "block";
        let randomStache = mustaches[Math.floor(Math.random()*mustaches.length)] + 1;
        mustacheImg.src = "/mustaches/" + randomStache + ".svg";
      });
    </script> 
  </body>
</html>
