---
const { title, author, publishDate, heroImage, alt } = Astro.props;

let date = new Date(publishDate);
let dateLabel = date.toLocaleDateString('en-US');
---

<article>
	{heroImage && (
		<img
			width="784"
			height="420"
			class="hero-image"
			loading="lazy"
			src={heroImage}
			alt={alt}
		/>
	)}
	<h1 style="margin: 2rem 0 1rem;">{title}</h1>
	<p style="font-size: 14px; margin-bottom: 2rem;">
		Written by <a href="ttps://twitter.com/stefen">Stefen</a> on <time
			>{dateLabel}</time
		>
	</p>
	<hr />
	<slot />
</article>
