<header class="header">
	<nav class="header-nav">
		<ul class="header-nav-menu">
			<li class="logo">
				<a href="/">
					Stefen <span>Phelps</span>
				</a>
			</li>
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/blog/">Blog</a>
			</li>
			<li>
				<a href="/contact/">Contact</a>
			</li>
			<li>
				<button class="toggle-mode">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="toggle-mode-moon" width="20" height="20">
						<title>Toggle Light Mode</title>
						<path
							class="fa-primary"
							d="M332.3 426.4c-93.13 17.75-178.5-53.63-178.5-147.6c0-54.25 29-104 76-130.9c7.375-4.125 5.45-15.12-2.8-16.62C108.7 109.4 0 200 0 320c0 106 85.76 192 191.8 192c59.25 0 113.2-26.79 148.9-71.04C346.1 434.5 340.3 424.8 332.3 426.4z"
						></path><path
							class="fa-secondary"
							d="M288 63.1l12.42 29.78c.6094 1.225 2.211 2.219 3.578 2.219s2.967-.9941 3.576-2.219l12.42-29.78l29.79-12.42C351 50.97 352 49.36 352 47.1c0-1.365-.9922-2.967-2.211-3.576l-29.79-12.42l-12.42-29.79c-.6094-1.227-2.209-2.217-3.576-2.217s-2.969 .9902-3.578 2.217l-12.42 29.79L258.2 44.42c-1.217 .6094-2.209 2.211-2.209 3.576c0 1.359 .9922 2.971 2.209 3.58L288 63.1zM507.6 216.9L448 192l-24.88-59.63C421.8 129.8 419 127.1 416 127.1s-5.75 1.75-7.125 4.375L384 192l-59.63 24.88C321.8 218.3 320 221 320 224s1.75 5.75 4.375 7.125L384 256l24.88 59.63C410.3 318.3 413 320 416 320s5.75-1.75 7.125-4.375L448 256l59.63-24.88C510.3 229.8 512 227 512 224S510.3 218.3 507.6 216.9z"
						></path>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="toggle-mode-sun" width="20" height="20">
						<title>Toggle Dark Mode</title>
						<path
							class="fa-primary"
							d="M256 144C194.1 144 144 194.1 144 256c0 61.86 50.14 112 112 112s112-50.14 112-112C368 194.1 317.9 144 256 144z"
						></path><path
							class="fa-secondary"
							d="M108.9 74.97c-9.344-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94l45.25 45.28c4.672 4.688 10.83 7.031 16.97 7.031S149.5 158.9 154.2 154.2c9.375-9.375 9.375-24.56 0-33.93L108.9 74.97zM256 0C242.8 0 232 10.75 232 24v64C232 101.3 242.8 112 256 112s24-10.75 24-24v-64C280 10.75 269.3 0 256 0zM112 256c0-13.25-10.75-24-24-24h-64C10.75 232 0 242.8 0 256s10.75 24 24 24h64C101.3 280 112 269.3 112 256zM374.8 161.2c6.141 0 12.3-2.344 16.97-7.031l45.25-45.28c9.375-9.375 9.375-24.56 0-33.94s-24.59-9.375-33.94 0l-45.25 45.28c-9.375 9.375-9.375 24.56 0 33.93C362.5 158.9 368.7 161.2 374.8 161.2zM256 400c-13.25 0-24 10.75-24 24v64C232 501.3 242.8 512 256 512s24-10.75 24-24v-64C280 410.8 269.3 400 256 400zM120.2 357.8l-45.25 45.28c-9.375 9.375-9.375 24.56 0 33.94c4.688 4.688 10.83 7.031 16.97 7.031s12.3-2.344 16.97-7.031l45.25-45.28c9.375-9.375 9.375-24.56 0-33.93S129.6 348.4 120.2 357.8zM488 232h-64c-13.25 0-24 10.75-24 24s10.75 24 24 24h64C501.3 280 512 269.3 512 256S501.3 232 488 232zM391.8 357.8c-9.344-9.375-24.56-9.372-33.94 .0031s-9.375 24.56 0 33.93l45.25 45.28c4.672 4.688 10.83 7.031 16.97 7.031s12.28-2.344 16.97-7.031c9.375-9.375 9.375-24.56 0-33.94L391.8 357.8z"
						></path>
					</svg>
				</button>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	.header {
		background: var(--transparent-bg);
		border-bottom: 1px solid var(--border);
		backdrop-filter: blur(25px);
		text-align: center;
		position: sticky;
		top: 0;
		padding: 1rem;
		grid-column: 1 / -1;
		z-index: 10;
		&-nav {
			width: 100%;
			display: block;
			padding: 0;
			font-size: 1rem;
			line-height: 2;
			&-menu {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: flex-end;
				list-style: none;
				margin: 0;
				padding: 0;
				gap: 1rem;
				a {
					margin: 0;
					border: 1px solid var(--border);
					border-radius: 5px;
					color: var(--text) !important;
					display: inline-block;
					padding: 0.1rem 1rem;
					text-decoration: none;
					transition: 0.4s;
					&:hover,
					&.active {
						color: var(--accent) !important;
						border-color: var(--accent);
					}
				}
				.logo {
					margin-right: auto;
					line-height: 1;
					a {
						padding: 0;
						border: 0 none;
						font-family: 'STIX Two Text', serif;
						font-weight: 300;
						font-size: 2rem;
					}
				}
				.toggle-mode {
					padding: 0;
					background: none;
					.fa-primary {
						fill: var(--accent);
					}
					.fa-secondary {
						fill: var(--accent);
						opacity: 0.75;
					}
					&-moon {
						display: none;
						@media (prefers-color-scheme: dark) {
							display: block;
						}
						html[data-color-scheme='light'] & {
							display: none;
						}
					}
					&-sun {
						display: block;
						@media (prefers-color-scheme: dark) {
							display: none;
						}
						html[data-color-scheme='light'] & {
							display: block;
						}
					}
				}
			}
		}
	}
	@media (max-width: 600px) {
		.header-nav-menu {
			gap: 0.5rem;
			a {
				font-size: 14px;
				padding: 0.125rem 0.5rem;
				span {
					display: none;
				}
			}
		}
	}
</style>
