<header class="header">
	<nav class="header-nav">
		<ul class="header-nav-menu">
			<li class="logo">
				<a rel="prefetch" href="/">
					Stefen <span>Phelps</span>
				</a>
			</li>
			<li>
				<a rel="prefetch" href="/about/">About</a>
			</li>
			<li>
				<a rel="prefetch" href="/blog/">Blog</a>
			</li>
			<li>
				<a rel="prefetch" href="/contact/">Contact</a>
			</li>
		</ul>
	</nav>
</header>
