<header class="header">
  <nav class="header-nav">
    <ul class="header-nav-menu">
      <li class="logo">
        <a href="/">
          Stefen <span>Phelps</span>
        </a>
      </li>
      <li>
        <a href="/about">
          About
        </a>
      </li>
      <li>
        <a href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a href="/contact">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
.header {
  padding: 1rem;
}
.header-nav {
  width: 100%;
  display: block;
  padding: 0;
}
.header-nav-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.header-nav-menu li a {
  margin: 0;
}
.logo {
  margin-right: auto;
}
@media (max-width: 500px) {
  .header-nav-menu {
    gap: .5rem;
  }
  .header-nav-menu li a {
    font-size: 14px;
    padding: .125rem .5rem;
  }
  .header-nav-menu li a span {
    display: none;
  }
}
</style>
