---
export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  pageEnd: number;
  totalPosts: number;
}

const { prevUrl, nextUrl, pageEnd, totalPosts } = Astro.props;

const currentPage = Math.ceil(pageEnd / 10);
const totalPages = Math.ceil(totalPosts / 10);
---

<div class="wrapper">
  <nav class="pagination">
    {
      prevUrl ? (
        <a class="pagination-prev" href={prevUrl} aria-label="Previous Page">Previous</a>
      ) : (
        <span class="pagination-prev" aria-disabled="true">Previous</span>
      )
    }
    <small>Page {currentPage} of {totalPages}</small>
    {
      nextUrl ? (
        <a class="pagination-next" href={nextUrl} aria-label="Next Page">Next</a>
      ) : (
        <span class="pagination-next" aria-disabled="true">Next</span>
      )
    }
  </nav>
</div>

<style lang="scss">
  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 4rem;
    &-prev,
    &-next {
      flex: 0 0 90px;
      text-align: center;
      margin: 0;
      font-family: var(--heading-font);
      &[aria-disabled="true"] {
        cursor: not-allowed;
        opacity: 0.4;
        color: #777;
      }
    }
  }
</style>
